<div class="row">
  <div class="col-lg-12">
  </div>
</div>
<div class="row">
  <div class="col-lg-3">
    <div class="sidebar">
      <div class="well">
        <h3>Filters</h3>
        <form action="">
          <div class="form-group">
            <label for="year">Year</label>
            <%= select_tag :year, options_for_select(@years.map{|y| [y, y]}, params[:year]), class: 'form-control' %>
          </div>
          <div class="form-group">
            <label for="force">Force</label>
            <%= select_tag :force, options_from_collection_for_select(@forces, 'name', 'name', params[:force]), class: 'form-control' %>
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <%= select_tag :crime_category, options_from_collection_for_select(@crime_categories, 'name', 'name', params[:crime_category]), class: 'form-control' %>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="row">
      <div class="col-lg-12">
        <div id="line-chart">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div id="map" style="height: 480px;"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div id="bar-chart"></div>
      </div>
      <div class="col-lg-6">
        <div id="pie-chart">
        </div>
      </div>
    </div>
  </div>
</div>
<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function(){

      var year = <%= params[:year] %>;
      var line_data = <%= raw @line_data.to_json %>;
      (new CrimesApp.LineChart({year: year, el: "#line-chart", data: line_data})).render()

      var bubble = new CrimesApp.BubbleMapChart({el: 'map'})
      bubble.render()

      $('#bar-chart').highcharts({
          chart: {
              type: 'bar'
          },
          title: {
              text: 'Historic World Population by Region'
          },
          subtitle: {
              text: 'Source: Wikipedia.org'
          },
          xAxis: {
              categories: ['Africa', 'America', 'Asia', 'Europe', 'Oceania'],
              title: {
                  text: null
              }
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Population (millions)',
                  align: 'high'
              },
              labels: {
                  overflow: 'justify'
              }
          },
          tooltip: {
              valueSuffix: ' millions'
          },
          plotOptions: {
              bar: {
                  dataLabels: {
                      enabled: true
                  }
              }
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'top',
              x: -40,
              y: 100,
              floating: true,
              borderWidth: 1,
              backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
              shadow: true
          },
          credits: {
              enabled: false
          },
          series: [{
              name: 'Year 1800',
              data: [107, 31, 635, 203, 2]
          }, {
              name: 'Year 1900',
              data: [133, 156, 947, 408, 6]
          }, {
              name: 'Year 2008',
              data: [973, 914, 4054, 732, 34]
          }]
      });
      $('#pie-chart').highcharts({
              chart: {
                  plotBackgroundColor: null,
                  plotBorderWidth: null,
                  plotShadow: false
              },
              title: {
                  text: 'Browser market shares at a specific website, 2014'
              },
              tooltip: {
                  pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
              },
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      dataLabels: {
                          enabled: false
                      },
                      showInLegend: true
                  }
              },
              series: [{
                  type: 'pie',
                  name: 'Browser share',
                  data: [
                      ['Firefox',   45.0],
                      ['IE',       26.8],
                      {
                          name: 'Chrome',
                          y: 12.8,
                          sliced: true,
                          selected: true
                      },
                      ['Safari',    8.5],
                      ['Opera',     6.2],
                      ['Others',   0.7]
                  ]
              }]
          });
    })
  <% end %>
<% end %>
